@page
@{
    ViewData["Title"] = "Главная";
}

<div class="container mt-5">
    <h1>Добро пожаловать, @HttpContext.Session.GetString("Username")!</h1>

    @if (HttpContext.Session.GetString("IsAdmin") == "True")
    {
            <a href="/AdminPanel" class="btn btn-danger mt-3">Панель администратора</a>
    }
   
</div>